@font-face {
    font-family: 'Jura';
    src: url('../FONT/Jura-Bold\ \(1\).otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
:root{
    --card:#ffffff;
    --accent:#000000;

}
h1 {
  font-family: 'Jura';
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
display: flex;
align-items: center;
text-align: center;
color:#ffffff;
}
body{
    background-image: url("../picture/CB127EA5-D2EA-4B12-878B-852677C15E70\ copy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:100vh;
}


*{box-sizing:border-box}
.brand{display:flex;align-items:center;gap:10px;margin-bottom:18px;text-align: center;}
.center{min-height:100vh;display:flex;align-items:center;justify-content:center;padding:24px;flex-direction: column;gap:10px;}
.card {
  width: 100%;
  max-width: 420px;
  background: var(--card);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(15,23,42,0.08);
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.input{width:100%;padding:10px 12px;border:1px solid #e6e9ef;border-radius:8px;font-size:14px;}
.field{margin-bottom:20px}
.btn{width:100%;padding:10px 12px;border-radius:18px;border:0;background:var(--accent);color:#ffffff;font-weight:600;cursor:pointer}
.btn:active{transform:translateY(1px)}
.btn:hover{background:#2d2d2d}
.filed{margin-bottom:1400px;}
@media(max-width:420px){.card{padding:18px}}
.hidden{display:none}
.wrong{
    color: red;
    font-size: 13px;
    margin-top: 6px;
}
.visiblebtn{
    font-weight: 600;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(152, 152, 152);
}
.row{display:flex;gap:12px;align-items:center ;margin-bottom: 6px;}








